@charset "utf-8";

.registBox {
  display: block;
}
.registBox h2 {
  margin: 0px 0px 50px 207px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 900;
  color: #343434;
}
.registBox table {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.registBox table th {
  font-size: 18px;
  border-top: 1px solid #444;
  background-color: #cdcdcd;
}
.registBox table td {
  padding: 10px;
  border-top: 1px solid #444;
}
.registBox table td .titS {
  display: inline-block;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}
.registBox table tr:first-child th,
.registBox table tr:first-child td {
  border-top: none;
}
.registBox table td .filepond--root {
  margin: 0;
}

.regImgViewList {
  margin: 50px 0 0;
  padding: 10px;
  background-color: #f1f0ef;
}
.regImgViewList li {
  margin: 10px 0 0;
}
.regImgViewList li:first-child {
  margin: 0;
}
.regImgViewList li .previewThumbImgBox {
  padding: 0;
  background-color: transparent;
}
.regImgViewList li .previewThumbImgBox button {
  left: 10px;
  top: 10px;
}

.inptFileWrap {
  display: block;
}
.previewThumbImgBox {
  display: block;
  position: relative;
  padding: 10px;
  background-color: #f1f0ef;
}
.previewThumbImgBox > span {
  display: block;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}
.previewThumbImgBox > span img {
  max-width: 100%;
}
.previewThumbImgBox button {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 28px;
  height: 28px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100%;
}

.react-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4d4d4d;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}
.react-toggle--checked .react-toggle-track {
  background-color: #19ab27;
}
.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128d15;
}
.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}
.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19ab27;
}
.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099e0;
  -moz-box-shadow: 0px 0px 3px 2px #0099e0;
  box-shadow: 0px 0px 2px 3px #0099e0;
}
.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099e0;
  -moz-box-shadow: 0px 0px 5px 5px #0099e0;
  box-shadow: 0px 0px 5px 5px #0099e0;
}

.tagListBox {
  overflow: hidden;
}
.tagListBox ul {
  margin: -10px;
}
.tagListBox ul:after {
  display: block;
  content: '';
  clear: both;
  overflow: hidden;
  width: 0;
  height: 0;
  line-height: 0;
}
.tagListBox ul li {
  float: left;
  box-sizing: border-box;
  width: 33%;
  margin: 10px 0 0;
  padding: 0 10px;
}
.tagListBox ul li label .react-toggle {
  vertical-align: top;
}
.tagListBox ul li label .react-toggle + span {
  display: inline-block;
  margin: 0 0 0 20px;
  line-height: 24px;
  vertical-align: top;
}

.tagAddBox {
  display: block;
  position: relative;
  padding: 0 100px 0 0;
}
.tagAddBox > span {
  display: block;
  border: 1px solid #000;
}
.tagAddBox > span input[type='text'] {
  height: 32px;
  border: none;
}
.tagAddBox .btnCustm {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
}

.listBarWrap {
  text-align: right;
}

.listTblWrap {
  border-top: 2px solid #000;
}
.listBarWrap + .listTblWrap {
  margin: 10px 0 0;
}
.tagAddBox + .listTblWrap {
  margin: 50px 0 0;
}

/*************************** 1024 ***************************/
@media screen and (max-width: 1024px) {
  .registBox h2 {
    margin: 0 0 30px;
  }
}
/*************************** 550 ***************************/
@media screen and (max-width: 550px) {
  .registBox h2 {
    margin: 20px 0;
    line-height: 24px;
    font-size: 20px;
  }
}
