@charset "utf-8";

/**************************************************************************************
** input style
**************************************************************************************/
input[type="text"] {box-sizing:border-box;width:100%;height:32px;font-size:18px;border:1px solid #777;}
[class^="textArea"] {padding:10px;line-height:0;border:1px solid #777;}
[class^="textArea"] textarea {width:100%;height:150px;font-size:18px;resize:none;border:none;outline:none;}

.selectBox {display:inline-block;box-sizing:border-box;position:relative;border:1px solid #000;}
.selectBox:after {display:block;content:"";position:absolute;right:10px;top:50%;border-top:5px solid #000;border-left:5px solid transparent;border-right:5px solid transparent;transform:translate(0, -50%);}
.selectBox select {display:inline-block;box-sizing:border-box;width:100%;height:32px;padding:0 50px 0 10px;}

/**************************************************************************************
** button style
**************************************************************************************/
[class^="btnCustm"] {display:inline-block;}
[class^="btnCustm"] span {display:block;height:32px;padding:0 10px;line-height:32px;font-size:18px;border:1px solid #000;border-radius:5px;}

[class^="btnPageBox"] {margin:50px 0 0;text-align:center;}
[class^="btnPageBox"] button + button {margin:0 0 0 20px;}


/**************************************************************************************
** MAIN SWIPER
**************************************************************************************/
.mainSwipeWrap {position:relative;overflow:hidden;}
.mainSwipeWrap .swiper-wrapper {position:relative;overflow:hidden;width:100000em;}
.mainSwipeWrap .swiper-wrapper .swiper-slide {position:relative;float:left;width:100%;height:calc(100vh - 90px - 100px);background-position:center;background-repeat:no-repeat;background-size:cover;}
.mainSwipeWrap .swiper-wrapper .swiper-slide:before {display:block;content:"";position:absolute;left:0;top:0;bottom:0;right:0;background-color:rgba(0,0,0,0.4);}
.mainSwipeWrap .swiper-wrapper .swiper-slide .imgTxt {display:block;position:absolute;left:0;right:0;top:0;bottom:0;}
.mainSwipeWrap .swiper-wrapper .swiper-slide .imgTxt .imgTxtIn {display:block;position:absolute;left:0;right:0;top:50%;transform:translate(0, -50%);}
.mainSwipeWrap .swiper-wrapper .swiper-slide .imgTxt .tits {display:block;line-height:45px;font-size:32px;font-weight:700;color:#fff;text-align:center;}
.mainSwipeWrap .swiper-wrapper .swiper-slide .imgTxt .tags {display:block;margin:5px 0 0;line-height:30px;font-size:22px;color:#fff;text-align:center;}
.mainSwipeWrap .btnPrev {position:absolute;left:100px;top:50%;width:112px;height:40px;background:url('../images/btn_main_swiper.png') no-repeat left top;z-index:1;transform:translate(0, -50%);}
.mainSwipeWrap .btnNext {position:absolute;right:100px;top:50%;width:112px;height:40px;background:url('../images/btn_main_swiper.png') no-repeat right top;z-index:1;transform:translate(0, -50%);}

/**************************************************************************************
** ACHIVE LIST
**************************************************************************************/
.archiveWrap .tagMenu {overflow:hidden;position:fixed;left:66px;top:90px;bottom:100px;width:0;z-index:5;}
.archiveWrap .tagMenu > button {position:absolute;left:65px;top:50%;width:20px;height:20px;background-image:url('../images/ico_tag.png');background-repeat:no-repeat;background-position:left bottom;transform:translate(0, -50%);}
.archiveWrap .tagMenu .swiperScrollBox,
.archiveWrap .tagMenu .mCustomScrollbar {display:none;margin:0 0 0 100px;}
.archiveWrap .tagMenu .swiperScrollBox ul,
.archiveWrap .tagMenu .mCustomScrollbar ul {padding:50px;}
.archiveWrap .tagMenu .swiperScrollBox ul li,
.archiveWrap .tagMenu .mCustomScrollbar ul li {margin:40px 0 0;}
.archiveWrap .tagMenu .swiperScrollBox ul li:first-child,
.archiveWrap .tagMenu .mCustomScrollbar ul li:first-child {margin:0;}
.archiveWrap .tagMenu .swiperScrollBox ul li a,
.archiveWrap .tagMenu .mCustomScrollbar ul li a,
.archiveWrap .tagMenu .swiperScrollBox ul li button,
.archiveWrap .tagMenu .mCustomScrollbar ul li button {display:block;line-height:36px;font-size:26px;font-weight:300;color:#fff;text-decoration:underline;}
.archiveWrap.active .tagMenu {width:auto;padding:0 0 0 95px;transition:width 0.5s ease, padding 0.5s ease;transition-delay:0.8s;}
[class^="pageWrap"].active .archiveWrap .tagMenu.active,
.archiveWrap.active .tagMenu.active {background:#ff5d5d;}
[class^="pageWrap"].active .archiveWrap .tagMenu.active > button,
.archiveWrap.active .tagMenu.active > button {background-position:left top;}
[class^="pageWrap"].active .archiveWrap .tagMenu.active .swiperScrollBox,
.archiveWrap.active .tagMenu.active .mCustomScrollbar {display:block;}

.archiveWrap {overflow:hidden;}
.archiveWrap .archiveListWrap {width:100%;margin:0 -4%;}
.archiveWrap .archiveListWrap .grid {position:relative;box-sizing:border-box;}
.archiveWrap .archiveListWrap .grid .grid-item {display:inline-block;padding:0 4% 5%;}
.archiveWrap .archiveListWrap .grid .grid-item a {display:block;position:relative;}
.archiveWrap .archiveListWrap .grid .grid-item a .itemFrame {display:none;overflow:hidden;position:absolute;left:0;top:0;right:0;bottom:0;background-color:rgba(0, 0, 0, 0.4);}
.archiveWrap .archiveListWrap .grid .grid-item a .itemFrame .inner {position:absolute;left:0;right:0;top:50%;padding:0 10px;transform:translate(0, -50%);}
.archiveWrap .archiveListWrap .grid .grid-item a .itemFrame .inner .tits {display:block;overflow:hidden;max-height:60px;line-height:20px;font-size:18px;color:#fff;text-align:center;}
.archiveWrap .archiveListWrap .grid .grid-item a .itemFrame .inner .tags {display:block;margin:20px 0 0;line-height:20px;font-size:18px;color:#fff;}
.archiveWrap .archiveListWrap .grid .grid-item a:hover .itemFrame {display:block;}

/*************************** 1366 - tablet ***************************/
/* @media screen and (max-width:1370px) {
	.achiveListWrap .grid .grid-item img {width:60%;max-width:60%;}
} */

/**************************************************************************************
** ACHIVE DETAIL
**************************************************************************************/
.archiveDescriptWrap {overflow:hidden;}
.archiveDescriptWrap .descriptThum {overflow:hidden;position:relative;float:left;width:60%;}
.archiveDescriptWrap .descriptThum .swiper-wrapper {overflow:hidden;width:9999em;}
.archiveDescriptWrap .descriptThum .swiper-wrapper .swiper-slide {position:relative;float:left;}
.archiveDescriptWrap .descriptThum .swiper-wrapper .swiper-slide:before {display:block;content:"";padding:84.0345199568501% 0 0;}
.archiveDescriptWrap .descriptThum .swiper-wrapper .swiper-slide span {display:block;position:absolute;left:0;top:0;right:0;bottom:0;}
.archiveDescriptWrap .descriptThum .swiper-wrapper .swiper-slide img {width:100%;height:100%;}
.archiveDescriptWrap .descriptThum .swiper-wrapper .swiper-slide:after {display:block;content:"";position:absolute;left:0;top:0;right:0;bottom:0;background-color:rgba(0, 0, 0, 0.5);}
.archiveDescriptWrap .descriptThum .btnPrev {position:absolute;left:40px;top:50%;width:112px;height:40px;background:url('../images/btn_main_swiper.png') no-repeat left top;z-index:1;transform:translate(0, -50%);}
.archiveDescriptWrap .descriptThum .btnNext {position:absolute;right:40px;top:50%;width:112px;height:40px;background:url('../images/btn_main_swiper.png') no-repeat right top;z-index:1;transform:translate(0, -50%);}

.archiveDescriptWrap .descriptBox {float:right;position:relative;width:38%;padding:20px 0 0;}
.archiveDescriptWrap .descriptBox strong {display:block;line-height:50px;font-size:32px;font-weight:400;text-decoration:underline;}
.archiveDescriptWrap .descriptBox .date {line-height:36px;font-size:26px;font-weight:300;}
.archiveDescriptWrap .descriptBox .tag {line-height:36px;font-size:26px;font-weight:300;}
.archiveDescriptWrap .descriptBox .txt {line-height:30px;font-size:20px;}
.archiveDescriptWrap .descriptBox strong + .date,
.archiveDescriptWrap .descriptBox strong + .tag {margin:20px 0 0;}
.archiveDescriptWrap .descriptBox .date +  .txt,
.archiveDescriptWrap .descriptBox .tag +  .txt {margin:20px 0 0;}
.archiveDescriptWrap .descriptBox .btnDescriptBox {position:absolute;right:0;top:0;}

.archiveMoreBox {position:relative;margin:50px 0 0;padding:0 220px 130px;}
.archiveMoreBox h3 {margin:0 0 100px;line-height:36px;font-size:26px;font-weight:300;text-align:center;}
.archiveMoreBox .moreListWrap {overflow:hidden;}
.archiveMoreBox .moreListWrap .swiper-wrapper {overflow:hidden;width:9999em;}
.archiveMoreBox .moreListWrap .swiper-wrapper .swiper-slide {position:relative;float:left;}
.archiveMoreBox .moreListWrap .swiper-wrapper .swiper-slide ul li {margin:90px 0 0;}
.archiveMoreBox .moreListWrap .swiper-wrapper .swiper-slide ul li:first-child {margin:0;}
.archiveMoreBox .moreListWrap .swiper-wrapper .swiper-slide ul li a {display:block;position:relative;}
.archiveMoreBox .moreListWrap .swiper-wrapper .swiper-slide ul li a img {width:100%;}
.archiveMoreBox .moreListWrap .swiper-wrapper .swiper-slide ul li .guideFrame {position:absolute;top:0;right:0;bottom:0;left:0;text-align:center;background-color:rgba(0, 0, 0, 0.5);}
.archiveMoreBox .moreListWrap .swiper-wrapper .swiper-slide ul li .guideFrame .guideInner {position:absolute;left:0;right:0;top:50%;padding:0 50px;transform:translate(0, -50%);}
.archiveMoreBox .moreListWrap .swiper-wrapper .swiper-slide ul li .guideFrame .tit {display:block;line-height:42px;font-size:32px;font-weight:400;color:#fff;text-decoration:underline;word-break:keep-all;}
.archiveMoreBox .moreListWrap .swiper-wrapper .swiper-slide ul li .guideFrame .tag {display:block;margin:30px 0 0;line-height:32px;font-size:22px;color:#fff;}

.archiveMoreBox .btnPrev {position:absolute;left:40px;top:325px;width:112px;height:40px;background:url('../images/btn_swiper_arrow.png') no-repeat left top;z-index:1;}
.archiveMoreBox .btnNext {position:absolute;right:40px;top:325px;width:112px;height:40px;background:url('../images/btn_swiper_arrow.png') no-repeat right top;z-index:1;}


/**************************************************************************************
** About
**************************************************************************************/
.aboutWrap {padding:0 0 100px;}
.aboutWrap .aboutLogo02 {height:141px;margin:50px 0 0;background:url('../images/about_logo02.png') no-repeat center top;background-size:auto 100%;}
.aboutWrap .aboutIntro:after {display:block;content:"";clear:both;overflow:hidden;width:0;height:0;line-height:0;}
.aboutWrap .aboutIntro .aboutLogo {display:block;float:left;width:455px;padding:50px;}
.aboutWrap .aboutIntro .intro {float:right;width:calc(100% - 600px);padding:40px 10px 40px;line-height:35px;font-size:20px;}

/**************************************************************************************
** Contact
**************************************************************************************/
.contactWrap .contactInfoBox {padding:0 0 100px;}
.contactWrap .contactInfoBox:after {display:block;content:"";clear:both;overflow:hidden;width:0;height:0;line-height:0;}
.contactWrap .contactInfoBox .img {display:block;float:left;width:600px;}
.contactWrap .contactInfoBox .img img {width:100%;}
.contactWrap .contactInfoBox .infoBox {float:right;width:calc(100% - 650px);}
.contactWrap .contactInfoBox .infoBox .contcInfo li {margin:20px 0 0;line-height:42px;font-size:32px;}
.contactWrap .contactInfoBox .infoBox .contcInfo li:first-child {margin:0;}
.contactWrap .contactInfoBox .infoBox .contcInfo li strong {display:inline-block;font-weight:400;}
.contactWrap .contactInfoBox .infoBox .contcInfo li span {display:inline-block;text-decoration:underline;}
.contactWrap .contactInfoBox .infoBox .corp {margin:70px 0 0;line-height:42px;font-size:32px;}
.contactWrap .contactInfoBox .infoBox address {display:block;margin:20px 0 0;line-height:36px;font-size:26px;}

/**************************************************************************************
** Paging
**************************************************************************************/
.paging {display:block;position:relative;}
.paging .pagingPrev {display:block;position:absolute;left:0;top:50%;height:30px;padding:0 0 0 110px;background:url('../images/pagin_arrow.png') no-repeat left 5px;z-index:1;transform:translate(0, -50%);}
.paging .pagingPrev em {display:block;line-height:30px;font-size:23px;font-weight:300;background-color:#fff;}
.paging .pagingNext {display:block;position:absolute;right:0;top:50%;height:30px;padding:0 110px 0 0;background:url('../images/pagin_arrow.png') no-repeat right 5px;z-index:1;transform:translate(0, -50%);}
.paging .pagingNext em {display:block;line-height:30px;font-size:23px;font-weight:300;background-color:#fff;}
.paging .pagingPrev.disabled {background:url('../images/pagin_arrow_disabled.png') no-repeat left 5px;}
.paging .pagingPrev.disabled em {color:#c9caca;}
.paging .pagingNext.disabled {background:url('../images/pagin_arrow_disabled.png') no-repeat right 5px;}
.paging .pagingNext.disabled em {color:#c9caca;}
.paging .viewPageNum {display:block;line-height:30px;font-size:26px;font-weight:300;text-align:center;}

/**************************************************************************************
** Paging
**************************************************************************************/
.scratchWrap {position:fixed;right:10px;bottom:10px;width:150px;height:80px;z-index:10;}
.scratchWrap .canvas {position:absolute;left:0;top:0;right:0;bottom:0;width:150px;height:80px;}
.scratchWrap .ScratchCard__Result {display:block;width:100%;height:80px;line-height:80px;color:#fff;text-align:center;background-color:#000;}

/**************************************************************************************
** Layer Pop
**************************************************************************************/
.loginWrap {text-align:center;}
.loginWrap li {margin:30px 0 0;}
.loginWrap li:first-child {margin:0;}
.loginWrap li label {display:block;position:relative;}
.loginWrap li label .placeholder {display:block;position:absolute;top:0;right:0;bottom:0;left:0;padding:0 10px;line-height:30px;font-size:23px;text-align:left;}
.loginWrap li label input[type=text],
.loginWrap li label input[type=password] {box-sizing:border-box;width:100%;height:30px;padding:0 10px;font-size:23px;border:none;border-bottom:1px solid #000;vertical-align:top;}

/**************************************************************************************
** Layer Pop
**************************************************************************************/
.layerWrap {position:fixed;top:0;right:0;bottom:0;left:0;background-color:rgba(0, 0, 0, 0.6);z-index:10;}
.layerWrap .layerpop {position:absolute;left:50%;top:50%;background:#fff;transform:translate(-50%, -50%);}
.layerWrap .layerpop header {padding:10px 10px 0;}
.layerWrap .layerpop header h1 {line-height:40px;font-size:30px;text-align:center;}
.layerWrap .layerpop .layerConts {padding:40px 20px;}
.layerWrap .layerpop .layerBtn {border-top:1px solid #000;}
.layerWrap .layerpop .layerBtn button {width:100%;height:40px;font-size:20px;text-align:center;}
.layerWrap .layerpop .btnClose {position:absolute;right:10px;top:10px;}

/**************************************************************************************
** ADMIN - MENU
**************************************************************************************/
.icoAdm {position:relative;cursor:pointer;}
.icoAdm .admList {display:none;position:absolute;left:50%;top:100%;padding:6px 0 0;transform:translate(-50%, 0);}
.icoAdm .admList ul {padding:10px;background-color:#fff;border:2px solid #333;border-radius:5px;box-shadow:0 0 5px rgba(0, 0, 0, 0.4);}
.icoAdm .admList ul li {margin:5px 0 0;padding:5px 0 0;border-top:1px solid #333;}
.icoAdm .admList ul li:first-child {margin:0;padding:0;border-top:none;}
.icoAdm .admList ul li a {display:block;}
/* .icoAdm .admList:before {display:block;content:"";border-bottom:5px solid #fff;border-left:5px solid transparent;border-right:5px solid transparent;} */
