@charset "utf-8";

#wrap {position:relative;min-height:100vh;margin:0 auto;}

#header {display:block;position:fixed;left:200px;top:0;right:200px;box-sizing:border-box;height:90px;padding:35px 0 0;z-index:5;}
#header .headerIn:after {display:block;content:"";clear:both;}
#header .logo {display:block;float:left;}
#header .logo a {display:block;height:26px;line-height:26px;}
#header .util {float:right;}

#header .util .topSrchBox {display:inline-block;position:relative;vertical-align:middle;}
#header .util .topSrchBox span {display:block;position:absolute;top:0;left:0;right:0;bottom:0;line-height:26px;font-size:22px;}
#header .util .topSrchBox input[type=text] {box-sizing:border-box;width:100%;height:26px;border:none;border-bottom:1px solid #000;outline:none;background:transparent;}

#header .util > a,
#header .util > span,
#header .util > button {display:inline-block;height:20px;margin:0 0 0 50px;vertical-align:middle;text-align:left;}
#header .util > a:first-child,
#header .util > span:first-child,
#header .util > button:first-child {margin:0;}
#header .util > a img,
#header .util > span img,
#header .util > button img {height:100%;}

#header .util .icoAdm {position:relative;cursor:pointer;}
#header .util .icoAdm .admList {display:none;position:absolute;left:50%;top:100%;padding:6px 0 0;transform:translate(-50%, 0);}
#header .util .icoAdm .admList ul {padding:10px;background-color:#fff;border:2px solid #333;border-radius:5px;box-shadow:0 0 5px rgba(0, 0, 0, 0.4);}
#header .util .icoAdm .admList ul li {margin:5px 0 0;padding:5px 0 0;border-top:1px solid #333;}
#header .util .icoAdm .admList ul li:first-child {margin:0;padding:0;border-top:none;}
#header .util .icoAdm .admList ul li a {display:block;}
/* #header .util .icoAdm .admList:before {display:block;content:"";border-bottom:5px solid #fff;border-left:5px solid transparent;border-right:5px solid transparent;} */

#header .btnHamberg {display:none;float:right;width:21px;height:17px;background:url('../images/btn_hamberg.png') no-repeat center;}

#container {margin:0 200px;padding:90px 0 100px;}

.contents:after {display:block;content:"";clear:both;overflow:hidden;width:0;height:0;line-height:0;}
[class^="pageWrap"] {overflow:hidden;float:left;width:0;height:0;transition:width 0.7s ease;}


.contents .naviListWrap {display:none;position:fixed;top:70px;left:0;right:0;bottom:0;padding:0;background:#fff;z-index:10;}
.contents .naviListWrap.active {display:block;}
.contents .naviListWrap ul {position:absolute;left:40px;right:40px;top:50%;transform:translate(0, -50%);}
.contents .naviListWrap ul li {margin:30px 0 0;}
.contents .naviListWrap ul li:first-child {margin:0;}
.contents .naviListWrap ul li button,
.contents .naviListWrap ul li a {display:block;width:100%;text-align:center;}
.contents .naviListWrap ul li button em,
.contents .naviListWrap ul li a em {display:inline-block;height:47px;line-height:47px;font-size:22px;font-weight:700;}
.contents .naviListWrap ul li:nth-child(1) button,
.contents .naviListWrap ul li:nth-child(1) a {border-bottom:5px solid #ff5d5d;}
.contents .naviListWrap ul li:nth-child(1) button em,
.contents .naviListWrap ul li:nth-child(1) a em {color:#ff5d5d;}
.contents .naviListWrap ul li:nth-child(2) button,
.contents .naviListWrap ul li:nth-child(2) a {border-bottom:5px solid #99ff8d;}
.contents .naviListWrap ul li:nth-child(2) button em,
.contents .naviListWrap ul li:nth-child(2) a em {color:#99ff8d;}
.contents .naviListWrap ul li:nth-child(3) button,
.contents .naviListWrap ul li:nth-child(3) a {border-bottom:5px solid #537bff;}
.contents .naviListWrap ul li:nth-child(3) button em,
.contents .naviListWrap ul li:nth-child(3) a em {color:#537bff;}

.contents [class^="subMenu"] {position:fixed;top:90px;bottom:100px;box-sizing:border-box;width:47px;background-color:#fff;z-index:5;}
.contents [class^="subMenu"] em {position:absolute;left:50%;top:50%;height:47px;line-height:47px;font-size:22px;font-weight:700;transform:translate(-50%, -50%) rotate(-90deg);transform-origin:50% 50%;}
.contents .subMenu01 {left:calc(100vw - 190px);border-right:5px solid #ff5d5d;}
.contents .subMenu01 em {color:#ff5d5d;}
.contents .subMenu02 {left:calc(100vw - 133px);border-right:5px solid #99ff8d;}
.contents .subMenu02 em {color:#99ff8d;}
.contents .subMenu03 {left:calc(100vw - 76px);border-right:5px solid #537bff;}
.contents .subMenu03 em {color:#537bff;}

#footer {position:absolute;left:0;right:0;bottom:0;padding:100px 0 0;background:#fff;z-index:5;}
#footer > .fInfoBtn {position:absolute;top:30px;left:200px;right:200px;border-bottom:5px solid #000;}
#footer > .fInfoBtn button {width:100%;height:40px;font-size:22px;font-weight:700;text-align:center;}
#footer .fInfo {display:none;overflow:hidden;margin:0 200px;}
#footer .fInfo .fInfoL {float:left;width:415px;line-height:90px;font-size:72px;font-weight:700;}
#footer .fInfo .fInfoR {position:relative;float:right;width:calc(100% - 500px);}
#footer .fInfo .fInfoR p {margin:25px 0 0;line-height:36px;font-size:26px;}
#footer .fInfo .fInfoR .copyright {margin:60px 0 0;color:#707070;}
#footer.open {background-color:#99ff8d;}
#footer.open .fInfo {display:block;padding:0 0 30px;}

/**************************************************************************************
** ACHIVE DETAIL - MENU
**************************************************************************************/
.contents.archiveDetail .subMenu01 {left:19px;}
.contents.archiveDetail .subMenu02 {left:calc(100vw - 133px);}
.contents.archiveDetail .subMenu03 {left:calc(100vw - 76px);}

/**************************************************************************************
** SEARCH RESULT - MENU
**************************************************************************************/
.contents.searchResultWrap .subMenu01 {left:19px;}
.contents.searchResultWrap .subMenu02 {left:calc(100vw - 133px);}
.contents.searchResultWrap .subMenu03 {left:calc(100vw - 76px);}

/*************************** 1200 ***************************/
@media screen and (max-width:1200px) {
	#header .util .topSrchBox {width:170px;}

	#header .util > a,
	#header .util > span,
	#header .util > button {margin:0 0 0 20px;}
}

/*************************** 1024 ***************************/
@media screen and (max-width:1024px) {
	#header {left:0;right:0;padding:27px 40px 0;height:70px;box-shadow:0 3px 7px rgba(0, 0, 0, 0.1);background-color:#fff;z-index:6;}
	#header .logo a {height:15px;line-height:15px;}
	#header .logo a img {height:100%;}
 
	#header .util {float:none;position:fixed;bottom:0;left:40px;right:40px;height:26px;padding:10px 0 15px;margin:0;text-align:right;background:#fff;}
	#header .util .topSrchBox {position:absolute;left:0;top:0;text-align:left;}
	#header .util .icoAdm .admList {top:auto;bottom:100%;padding:0 0 6px;}
	#header .btnHamberg {display:block;}

	#container {margin:0 40px;padding:70px 0 100px;}
	.contents [class^="subMenu"] {display:none;}
	[class^="pageWrap"] {overflow:visible;display:block;}

	#footer {bottom:51px;padding:45px 0 0;}
	#footer .fInfoBtn {left:40px;right:40px;top:0;}
}